.App {
  /* text-align: center; */
  margin: 2rem;
  padding: 1rem;
  background-color: #E5E7E9;
  border: 1px solid #D6DBDF;
  border-radius: 3px;
  box-shadow: 0px 0px 3px #D6DBDF;
  /* box-shadow: 0px 0px 4px black; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=text] {
  display: block;
  font-size: 16pt;
  margin-bottom: 1rem;
  padding-bottom: 2px;
  background-color: #E5E7E9;
  border: none;
  border-bottom: 1px solid #283747;
  width: 100%;
}

input[type=text]:focus {
  outline: none;
}

button {
  font-size: 11pt;
  margin-right: 1rem;
  background-color: #E5E7E9;
  border: 1px solid #283747;
  color: #283747;
  border-radius: 4px;
}

button:hover {
  background-color: #283747;
  border: 1px solid #283747;
  color: #E5E7E9;
  box-shadow: 0px 0px 3px #283747;
}

p:hover {
  cursor: pointer;
}

.todo {
  font-weight: bold;
}

.todo.completed {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
  text-decoration-color: #E74C3C;
  font-weight: normal;
}